/*TODO1:为网站添加图片背景 static/images/bg1.png */
/*提示：图片背景属性为 background-image:url( ，值 url('/图片路径')    */
/* /static/images/Genshin Impact.jpeg */
body{
    background-image:url("/static/images/Genshin Impact.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/*DIY区域：尝试修改不同属性对应的值，选择合适的边距和颜色来匹配背景*/
h1{
    text-align: center;
    color: #00a2ff;
    margin-top: 20%;
    margin-bottom: 14%;
    font-family:幼圆;
    font-weight:normal;
}

/*TODO2:创建类名为 photo的选择器（不要忘记符号.），并尝试修改不同属性值*/
.photo{
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*DIY区域：设置底部版权样式
/*背景色 #f08c55 搭配背景图 bg1.png */
/*背景色 #8ba13f 搭配背景图 bg2.png,*/
/*背景色 #71170d 搭配背景图 bg4.png */
/*背景色 #aeacc6 搭配背景图 bg5.png */

.banquan{
    background-color:#f08c55;    
    text-align: center;
    color:white;
    margin-top: 20px;
    margin-right:0px;
    padding:20px;
}





h2{
    margin-left:5%;
    margin-top: 20px;
    margin-bottom: 15px;
    color:#3863b2;
    font-family:圆体;
    font-weight:normal;

}
p{
    margin-left: 5%;
    margin-right:5%;
    font-family:微软雅黑;
    font-weight:normal;

}

h5{
    text-align: right;
    margin-right:40px;
}

h4{
    color: #3863b2;
}
.row{
    text-align: center;
}